#simple {
    color: darkblue;
    font-size: 25px;
    line-height: 0.2;
}

#fundament {
    color: deepskyblue;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 0;
}

fieldset {
    width: 50%;
    margin-top: 0;
}

.form label {
    display: block;
    padding: 10px;
    margin-left: 40px;
}

.form input:not([type="submit"]),
#book {
    width: 50%;
}

#quantity {
    width: 18%;
}

#book {
    margin-left: 40px;
    margin-bottom: 15px;
}

#submit {
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid black;
}
